<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zaoqibu.theartofkissing"
    android:versionCode="3"
    android:versionName="2.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <!-- MTA -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <!-- GDT -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.zaoqibu.theartofkissing.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.zaoqibu.theartofkissing.activity.BenefitDetailActivity">
        </activity>
        
        <activity android:name="com.zaoqibu.theartofkissing.activity.ArticleActivity">
        </activity>
        
        <activity android:name="com.zaoqibu.theartofkissing.activity.AboutActivity">
        </activity>
		
		<!-- MTA -->
		<meta-data android:name="TA_APPKEY" android:value="A6LA8E8MC1LR" />
		<meta-data android:name="InstallChannel" android:value="YOUR_CHANNEL" />
        
        <!-- GDT -->
		<service android:name="com.qq.e.comm.DownloadService" android:exported="false"></service>
		<activity android:name="com.qq.e.ads.AdActivity" android:theme="@android:style/Theme.Translucent"></activity>
		<activity android:name="com.qq.e.ads.GdtBrowserActivity"></activity>
		<activity android:name="com.qq.e.appwall.AppwallActivity" android:configChanges="keyboard|keyboardHidden|orientation" />
	</application>
    
</manifest>
